.board {
    display: flex;
    align-items: end;
    gap: 7px;
}

.pile {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.stone {
    background: #eee;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.red {
    background: #ff0000;
}

.yellow {
    background: rgb(241, 218, 42);
}

.clicked-stone {
    background: #fff !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.top {
    opacity: 60%;
}